table {
    width: 100%;
    max-width: 750px;
    border-collapse: collapse;
    border: solid 2px;
    margin: 25px; 
     

}

button {
    margin: 30px;
    height: 50px;
    width: 200px;
    background-color: blueviolet;
    color: whitesmoke;
}

thead {
    background-color: lightslategray;
    color: whitesmoke;
}

tfoot {
    background-color: lightslategray;
    color: black;
    display: flex;
    justify-content: flex-end; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    margin: 20px;
    color: blueviolet;
    font-size: 20px;
    font-weight: bolder;
    text-shadow: whitesmoke 1px 1px;
}