header {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: start;
    align-items: flex-start;
}

img {
    height: 100px;
    width: 200px;
    
}

#amps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

li {
    border: solid black 5px;
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    list-style: none;
}

name {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

a {
    margin: 20px;
    color: blueviolet;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: whitesmoke 1px 1px;
}