img {
    height: 200px;
    width: 400px;
    
}

#amps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

li {
    border: solid black 5px;
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
}

name {
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}